:root {
  --black: rgba(45, 55, 72, 1);
  --opBlack: rgba(0, 0, 0, 0.05);
  --accent: rgba(47, 45, 143, 1);
  --opAccent: rgba(47, 45, 143, 0.75);
  --accent2: rgba(90, 103, 216, 1);
  --opAccent2: rgba(90, 103, 216, 0.15);
  --accent3: rgba(176, 196, 222, 1);
  --secondary: rgba(49, 49, 58, 1);
  --white: rgba(255, 255, 255, 1);
  --bg-white: rgba(248, 248, 255, 1);
  --grey: rgba(113, 128, 150, 1);
  --light-grey: rgba(180, 180, 180, 1);
  --extra-light-grey: rgba(226, 232, 240, 1);
  --dark-red: rgb(189, 0, 0);
  --error: rgba(220, 20, 60, 1);
  --3d-effect: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15)
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: unset;
  letter-spacing: 0.4px;
}

*:not([class^="fa"]) {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: auto;
  color: var(--black);
  background-color: var(--bg-white);
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  padding: 0.5rem;
  border: 0.5px solid var(--black);
  border-radius: 6px;
  font-size: unset;
}

button,
a {
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 6px var(--accent);
}

main {
  margin-bottom: 120px;
}
